@inherits LayoutComponentBase

<div id="PageContainer">
    <header>
        Simple Weather Blazor Webassembly application
    </header>

    <div>
        @Body
    </div>

    <footer>
        <div>
            Check it out on 
            <a href="https://github.com/nomadedge/SimpleWeather"
               target="_blank">
                GitHub
            </a>
        </div>
    </footer>
</div>
