@page "/"

@inherits IndexBase

<div id="weather-container">
    <div>
        <input @onchange="PressEnter"
               id="city-input" />

        <button @onclick="DisplayWeatherAsync"
                id="show-input">
            Show weather
        </button>
    </div>

    @WeatherRender
</div>